In [47]:
import pandas as pd 
data= pd.read_csv ("titanic-passengers.csv",sep=";")
data
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",male,28.0,0,0,248740,13.0000,NaN,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",male,20.0,0,0,350050,7.8542,NaN,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
4,672,No,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S

In [48]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [49]:
data.isnull().sum().sum()

866

In [50]:
mean_age =round(data["Age"].mean())
mean_age

30

In [51]:
data["Age"].fillna(mean_age,inplace=True)

In [52]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [53]:
data["Cabin"].value_counts()

B96 B98        4
C23 C25 C27    4
G6             4
D              3
F2             3
              ..
D56            1
B42            1
E46            1
A5             1
B101           1
Name: Cabin, Length: 147, dtype: int64

In [54]:
data["Cabin"].fillna("G6",inplace=True)

In [55]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       2
dtype: int64

In [56]:
data["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [57]:
data["Embarked"].fillna("S",inplace=True)

In [58]:
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [59]:
from sklearn.model_selection import train_test_split
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [60]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
data["Sex"] = encoder.fit_transform(data["Sex"])

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,No,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,G6,S
1,76,No,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,No,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,G6,S
3,568,No,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29.0,0,4,349909,21.0750,G6,S
4,672,No,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S

In [61]:
encoder = LabelEncoder()
data["Survived"] = encoder.fit_transform(data["Survived"])

data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,343,0,2,"Collander, Mr. Erik Gustaf",1,28.0,0,0,248740,13.0000,G6,S
1,76,0,3,"Moen, Mr. Sigurd Hansen",1,25.0,0,0,348123,7.6500,F G73,S
2,641,0,3,"Jensen, Mr. Hans Peder",1,20.0,0,0,350050,7.8542,G6,S
3,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",0,29.0,0,4,349909,21.0750,G6,S
4,672,0,1,"Davidson, Mr. Thornton",1,31.0,1,0,F.C. 12750,52.0000,B71,S

In [62]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.20,random_state=10)
x=data.drop(["Survived", "Name", "Cabin", "Ticket", "Embarked"], axis=1)
y= data["Survived"]

In [81]:
from sklearn import tree   
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
trees = tree.DecisionTreeClassifier(random_state=0)  
trees.fit(x_train, y_train)   
y_pred=trees.predict(x_test)  
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7541899441340782

In [92]:

import graphviz

dot_data=tree.export_graphviz(trees,out_file=None,feature_names=x.columns,filled=True,rounded=True,special_characters=True,class_names=['Not survived', 'Survived'],impurity=True)
graph=graphviz.Source(dot_data)
graph.render("data",view=True)

ExecutableNotFound: failed to execute ['dot', '-Tpdf', '-O', 'data'], make sure the Graphviz executables are on your systems' PATH

In [77]:

import graphviz 
dot_data= tree.export_graphviz(trees,out_file=None)

In [74]:
graph=graphviz.Source(dot_data)
graph.render("data")
graph

ExecutableNotFound: failed to execute ['dot', '-Tpdf', '-O', 'data'], make sure the Graphviz executables are on your systems' PATH

In [90]:
trees = tree.DecisionTreeClassifier(max_features=1,max_depth=3)  
trees.fit(x_train, y_train)   
y_pred=trees.predict(x_test)  
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.7821229050279329

In [91]:
trees = tree.DecisionTreeClassifier(max_features=4,max_depth=2)  
trees.fit(x_train, y_train)   
y_pred=trees.predict(x_test)  
print("score:{}".format(accuracy_score(y_test, y_pred)))

score:0.6703910614525139

In [95]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics 
trees=RandomForestClassifier(n_estimators=10)
trees.fit(x_train, y_train)   
y_pred=trees.predict(x_test)  
print("estimators:", metrics.accuracy_score(y_test, y_pred))

estimators: 0.8491620111731844